<!-- Styles  -->
<style> 

    :root {
        --dark-text: {{ site.data.site-settings.design.dark-text_color }};
        --accent-text: {{ site.data.site-settings.design.accent-text_color }};
        --light-accent-text: {{ site.data.site-settings.design.light-accent-text_color }};
        --light-text: {{ site.data.site-settings.design.light-text_color }};        
        --featured-text: {{ site.data.site-settings.design.featured-text_color }};
        --dark: {{ site.data.site-settings.design.dark_color }};
        --dark-footer: {{ site.data.site-settings.design.dark-footer_color }};
        --light: {{ site.data.site-settings.design.light_color }};
        --featured: {{ site.data.site-settings.design.featured_color }};
        --hover-link: {{ site.data.site-settings.design.hover-link_color }};
        --hover-button: {{ site.data.site-settings.design.hover-button_color }};
        --featured-light: {{ site.data.site-settings.design.featured-light_color }};
        --accent: {{ site.data.site-settings.design.accent_color }};
        --lg-backdrop: {{ site.data.site-settings.design.lg-backdrop_color }};
    }

</style> 
